<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429941946513-vegu4stvgg7urul2kmsta8ldvo80shn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429941946513-vegu4stvgg7urul2kmsta8ldvo80shn2</string>
	<key>API_KEY</key>
	<string>AIzaSyAznwh5NJtL3q_Z7lxFV-EcD2dwEtz6zpw</string>
	<key>GCM_SENDER_ID</key>
	<string>429941946513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.bonjuur</string>
	<key>PROJECT_ID</key>
	<string>bonjuur1</string>
	<key>STORAGE_BUCKET</key>
	<string>bonjuur1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429941946513:ios:5c9caabad316299e65a730</string>
</dict>
</plist>